@font-face {
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 400;
   src: local(''),
      url('../fonts/roboto-v30-latin-regular.woff2') format('woff2'),
      /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('../fonts/roboto-v30-latin-regular.woff') format('woff');
   /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
   font-family: 'Inter';
   font-style: normal;
   font-weight: 400;
   src: local(''),
      url('../fonts/inter-v12-latin-regular.woff2') format('woff2'),
      /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('../fonts/inter-v12-latin-regular.woff') format('woff');
   /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* inter-700 - latin */
@font-face {
   font-family: 'Inter';
   font-style: normal;
   font-weight: 700;
   src: local('C:\Users\Чуча\Desktop\start\rsschool-cv\rsschool-cv\plants\fonts\inter-v12-latin-700.woff2'),
      url('../fonts/inter-v12-latin-700.woff2') format('woff2'),
      /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('../fonts/inter-v12-latin-700.woff') format('woff');
   /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* inika-regular - latin */
@font-face {
   font-family: 'Inika';
   font-style: normal;
   font-weight: 400;
   src: local('Inika'),
      url('../fonts/inika-v21-latin-regular.woff2') format('woff2'),
      /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('../fonts/inika-v21-latin-regular.woff') format('woff');
   /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* inika-700 - latin */
@font-face {
   font-family: 'Inika';
   font-style: normal;
   font-weight: 700;
   src: local('Inika'),
      url('../fonts/inika-v21-latin-700.woff2') format('woff2'),
      /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('../fonts/inika-v21-latin-700.woff') format('woff');
   /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

* {
   box-sizing: border-box;
}

html {
   scroll-behavior: smooth;
}

body {
   margin: 0;
   padding: 0;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

.header {
   width: 1440px;
   height: 134px;
   background-color: #EDF2EC;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.navbar {
   max-width: 1220px;
   max-height: 50px;
   margin-top: 36px;
   margin-left: 51px;
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: space-between;
}

.nav-list {
   list-style: none;
   display: flex;
   flex-wrap: wrap;
   flex-direction: row;
   justify-content: space-between;
}

.nav-item {
   margin-left: 46px;
}

.nav-link {
   font-family: 'Inika';
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   color: #010201;
   text-decoration: none;
}

.nav-link:hover,
.nav_link:focus {
   color: #E06733;
}

.main {
   max-width: 1440px;
}

.section_welcome {
   width: 1440px;
   height: 532px;
   display: flex;
   background-color: #EDF2EC;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.welcome {
   width: 1222px;
   height: 407.36px;
   margin: 64px 109px;
   display: flex;
   flex-wrap: wrap;
   flex-direction: column;
   align-items: center;
   justify-content: space-between;
}

.section_welcome_png {
   width: 448.8px;
   height: 407.36px;
   margin-left: 0;
}

.inform {
   width: 549px;
   height: 340px;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   justify-content: space-between;
}

.welcome_header {
   font-family: 'Inter';
   font-style: normal;
   font-weight: 700;
   font-size: 45px;
   line-height: 50px;
   color: #717171;
   margin-bottom: 42px;
   max-width: 549px;
}

.welcome_text {
   font-family: 'Inter';
   font-style: normal;
   font-weight: 400;
   font-size: 20px;
   line-height: 35px;
   color: #636060;
   max-width: 525.44px;
   margin-bottom: 48px;
}

.welcome_submit {
   text-transform: uppercase;
   padding: 14px 27px;
   font-family: 'Inter';
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 20px;
   color: #000000;
   box-sizing: border-box;
   border: 2px solid #E06733;
   border-radius: 10px;
}

.section_about_us {
   border: #FFFFFF;
   width: 1440px;
   height: 666px;
   margin: 0 auto;
   display: flex;
}

.about_us {
   width: 1222px;
   height: 479px;
   margin: 93px 109px;
   display: flex;
   flex-wrap: wrap;
   flex-direction: column;
   align-items: center;
   justify-content: space-between;
}

.about_us_inform {
   width: 605px;
   height: 350px;
   display: flex;
   justify-content: left;
   align-items: flex-start;
   flex-direction: column;
   margin: 0;
}

.about_us_title {
   font-family: 'Inika';
   font-style: normal;
   font-weight: 400;
   font-size: 40px;
   line-height: 52px;
   color: #499A18;
   margin-bottom: 40px;
   max-width: 463px;
}

.about_us_text {
   font-family: 'Inter';
   font-style: normal;
   font-weight: 400;
   font-size: 20px;
   line-height: 30px;
   color: #636060;
   max-width: 605px;
}

span {
   color: #E06733;
}

.about_us_png {
   width: 464px;
   height: 479px;
   display: flex;
   justify-content: right;
   align-items: flex-end;
   margin: 0;
}

.houseplant_1png {
   background: url(./png/houseplant\ 1.png);
}

.footer {
   background-color: #EDF2EC;
}